.original-painting-dialog-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  min-width: 1440px;
  min-height: 688px;
  opacity: 0;
  visibility: hidden;
}

.original-painting-dialog-wrapper.show-enter,
.original-painting-dialog-wrapper.show-enter-active,
.original-painting-dialog-wrapper.show-enter-done,
.original-painting-dialog-wrapper.show-exit,
.original-painting-dialog-wrapper.show-exit-active {
  opacity: 1;
  visibility: visible;
}

.original-painting-dialog-wrapper.show-exit-done {
  opacity: 0;
  visibility: hidden;
}

.original-painting-dialog-mask {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3c3732;
  opacity: 0.7;
}

.close-original-painting-dialog-button {
  z-index: 102;
  position: absolute;
  top: 8.67%;
  right: 7.1%;
  width: 3.43%;
}

.close-original-painting-dialog-button:hover {
  animation-name: close-original-painting-dialog-button-hover;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes close-original-painting-dialog-button-hover {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.close-original-painting-dialog-button.zoom-exit {
  animation-name: close-original-painting-dialog-button-hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes close-original-painting-dialog-button-hide {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

.original-painting-dialog {
  z-index: 101;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 45%;
}

.original-painting-dialog.zoom-enter {
  animation-name: original-painting-dialog-show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes original-painting-dialog-show {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    opacity: 0;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }
}

.original-painting-dialog.zoom-exit {
  animation-name: original-painting-dialog-hide;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes original-painting-dialog-hide {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) scale(0.8);
    opacity: 0;
  }
}

.original-painting-dialog-picture {
  width: 100%;
  height: 100%;
}
