.storyC {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("./storyC_background.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
  min-width: 1440px;
  min-height: 688px;
}

.storyC-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.storyC-grass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 4;
  pointer-events: none;
}

.storyC .sound {
  position: absolute;
  top: 41.27%;
  right: 44.52%;
}

.patternI {
  position: absolute;
  top: 37.12%;
  right: 13%;
  width: 3%;
  animation-name: patternI-move;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 5;
}

.patternI:hover {
  animation-play-state: paused;
}

@keyframes patternI-move {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}

.patternJ {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 57%;
  right: 68%;
  width: 2.5%;
  z-index: 5;
}

.patternJ.show {
  visibility: visible;
  animation-name: patternJ-show-opacity, patternJ-show-scale;
  animation-duration: 1s, 1s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-fill-mode: forwards, forwards;
}

@keyframes patternJ-show-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes patternJ-show-scale {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.rabbitB {
  position: absolute;
  top: 29.09%;
  right: 60%;
  width: 11.3%;
  z-index: 3;
  transform-origin: 50% bottom;
  animation-name: rabbitB-shake;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.48, 0.04, 0.52, 0.96);
}

.rabbitB:hover {
  animation-play-state: paused;
}

@keyframes rabbitB-shake {
  0% {
    transform: rotate(-2deg);
  }

  25% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-4deg);
  }

  75.5% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}

.dialogK {
  position: absolute;
  top: 15.31%;
  right: 50.38%;
  width: 14.96%;
  z-index: 6;
  visibility: hidden;
  pointer-events: none;
}

.dialogK.show-enter,
.dialogK.show-enter-active,
.dialogK.show-enter-done,
.dialogK.show-exit,
.dialogK.show-exit-active {
  visibility: visible;
}

.dialogK.show-exit-done {
  visibility: hidden;
}

.dialogK-text {
  width: 100%;
  visibility: hidden;
  position: relative;
  z-index: 3;
}

.dialogK-text.show-enter {
  visibility: hidden;
  animation-name: dialogK-text-show;
  animation-delay: 500ms;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
}

@keyframes dialogK-text-show {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

.dialogK-text.show-enter-done {
  visibility: visible;
}

.dialogK-text.show-exit {
  visibility: visible;
  animation-name: dialogK-text-hide;
  animation-delay: 400ms;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
}

@keyframes dialogK-text-hide {
  from {
    visibility: visible;
  }

  to {
    visibility: hidden;
  }
}

.dialogK-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.dialogK-background.zoom-enter {
  animation-name: dialogK-background-show;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes dialogK-background-show {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.dialogK-background.zoom-exit {
  animation-name: dialogK-background-hide;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes dialogK-background-hide {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(0);
  }
}

.buttonE {
  visibility: hidden;
  position: absolute;
  bottom: 12%;
  right: 5.41%;
  width: 12.74%;
  z-index: 11;
}

.buttonE.show-enter,
.buttonE.show-enter-active,
.buttonE.show-enter-done,
.buttonE.show-exit,
.buttonE.show-exit-active {
  visibility: visible;
  animation-name: buttonE-shake;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: center center;
}

@keyframes buttonE-shake {
  20% {
    transform: rotate3d(0, 0, 1, 10deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.buttonE:hover {
  animation-play-state: paused;
}

.buttonE.show-exit-done {
  visibility: hidden;
}

.buttonE-text {
  width: 100%;
  visibility: hidden;
  position: relative;
  z-index: 3;
}

.buttonE-text.show-enter {
  animation-name: buttonE-text-show;
  animation-delay: 500ms;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
}

@keyframes buttonE-text-show {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

.buttonE-text.show-enter-done {
  visibility: visible;
}

.buttonE-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.buttonE-background.fade-enter {
  animation-name: buttonE-background-show;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes buttonE-background-show {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.questionB {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  min-width: 1440px;
  min-height: 688px;
}

.questionB-mask {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0f;
  opacity: 0.8;
}

.buttonFG {
  z-index: 101;
  position: absolute;
  width: 22.55%;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
}

.buttonF {
  top: 32.84%;
}

.buttonG {
  top: 53.98%;
}

.buttonFG.show-enter,
.buttonFG.show-enter-active,
.buttonFG.show-enter-done,
.buttonFG.show-exit,
.buttonFG.show-exit-active {
  visibility: visible;
}

.buttonFG.show-exit-done {
  visibility: hidden;
}

.buttonFG-text {
  width: 100%;
  visibility: hidden;
  position: relative;
  z-index: 3;
}

.buttonFG-text.show-enter {
  animation-name: buttonFG-text-show;
  animation-delay: 500ms;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
}

@keyframes buttonFG-text-show {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

.buttonFG-text.show-enter-done {
  visibility: visible;
}

.buttonFG-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.buttonFG-background.zoom-enter {
  animation-name: buttonFG-background-show;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes buttonFG-background-show {
  0% {
    transform: scale(0.5);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
