.storyC {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("./storyC_background.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
  min-width: 1440px;
  min-height: 688px;
}

.storyC-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.storyC-grass {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 4;
  pointer-events: none;
}

.storyC .sound {
  position: absolute;
  top: 41.27%;
  right: 44.52%;
}

.patternI {
  position: absolute;
  top: 37.12%;
  right: 16.85%;
  width: 1.86%;
  animation-name: patternI-move;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 5;
}

.patternI:hover {
  animation-play-state: paused;
}

@keyframes patternI-move {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}

.patternJ {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 57%;
  right: 68%;
  width: 2.44%;
  z-index: 5;
}

.patternJ.show {
  visibility: visible;
  animation-name: patternJ-show-opacity, patternJ-show-scale;
  animation-duration: 1s, 1s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-fill-mode: forwards, forwards;
}

@keyframes patternJ-show-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes patternJ-show-scale {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.rabbitB {
  position: absolute;
  top: 29.09%;
  right: 60%;
  width: 11.3%;
  z-index: 3;
}

.dialogK {
  display: none;
  position: absolute;
  top: 15.31%;
  right: 50.38%;
  width: 14.96%;
  z-index: 6;
}

.dialogK.show {
  display: block;
}

.dialogK-text,
.dialogK-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.dialogK-text {
  z-index: 3;
  display: none;
}

.dialogK-text.show {
  display: block;
}

.dialogK-background {
  z-index: 2;
}

.dialogK-background.isShowing {
  animation-name: dialogK-background-show;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes dialogK-background-show {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.dialogK-background.isHiding {
  animation-name: dialogK-background-hide;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes dialogK-background-hide {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(0);
  }
}

.buttonE {
  display: none;
  position: absolute;
  bottom: 20%;
  right: 5.41%;
  width: 12.74%;
  z-index: 11;
}

.buttonE.show {
  display: block;
  animation-name: buttonE-shake;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: center center;
}

.buttonE.show:hover {
  animation-play-state: paused;
}

@keyframes buttonE-shake {
  20% {
    transform: rotate3d(0, 0, 1, 10deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.buttonE-text,
.buttonE-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.buttonE-text {
  z-index: 10;
  display: none;
}

.buttonE-text.show {
  display: block;
}

.buttonE-background.isShowing {
  animation-name: buttonE-background-show;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes buttonE-background-show {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

.questionB {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  min-width: 1440px;
  min-height: 688px;
}

.questionB-mask {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0a0f;
  opacity: 0.8;
}

.buttonF,
.buttonG {
  display: none;
  position: absolute;
  width: 22.55%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
}

.buttonF.show,
.buttonG.show {
  display: block;
}

.buttonF {
  top: 32.84%;
}

.buttonG {
  top: 53.98%;
}

.buttonF-text,
.buttonF-background,
.buttonG-text,
.buttonG-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.buttonF-text,
.buttonG-text {
  z-index: 102;
  display: none;
}

.buttonF-text.show,
.buttonG-text.show {
  display: block;
}

.buttonF-background.isShowing,
.buttonG-background.isShowing {
  animation-name: buttonFG-background-show;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes buttonFG-background-show {
  0% {
    transform: scale(0.5);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
