.storyC {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("./storyC_background.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
  min-width: 1440px;
  min-height: 688px;
}

.storyC .sound {
  position: absolute;
  top: 41.27%;
  right: 44.52%;
}

.patternI {
  position: absolute;
  top: 37.12%;
  right: 16.85%;
  width: 1.86%;
  animation-name: patternI-move;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.patternI:hover {
  animation-play-state: paused;
}

@keyframes patternI-move {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}

.patternJ {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 57%;
  right: 68%;
  width: 2.44%;
  z-index: 9;
}

.patternJ.show {
  visibility: visible;
  animation-name: patternJ-show-opacity, patternJ-show-scale;
  animation-duration: 1s, 1s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-fill-mode: forwards, forwards;
}

@keyframes patternJ-show-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes patternJ-show-scale {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.rabbitB {
  position: absolute;
  top: 29.09%;
  right: 64.41%;
  width: 8.28%;
  z-index: 3;
}

.rabbitC {
  position: absolute;
  top: 43.79%;
  right: 55.81%;
  width: 9.76%;
  z-index: 6;
}

.rabbitD {
  position: absolute;
  top: 35.54%;
  right: 71.91%;
  width: 14.33%;
  z-index: 1;
}

.hairBallB {
  position: absolute;
  top: 55.61%;
  right: 81.7%;
  width: 2.38%;
  z-index: 4;
}

.hairBallC {
  position: absolute;
  top: 49.2%;
  right: 76.56%;
  width: 2.27%;
  z-index: 5;
}

.hairBallD {
  position: absolute;
  top: 42.02%;
  right: 59.93%;
  width: 3.1%;
  z-index: 2;
}

.hairBallE {
  position: absolute;
  top: 41.46%;
  right: 59.05%;
  width: 1.57%;
  z-index: 7;
}

.well {
  position: absolute;
  top: 49.5%;
  right: 58.48%;
  width: 23.6%;
  z-index: 8;
}

.dialogK {
  display: none;
  position: absolute;
  top: 15.31%;
  right: 50.38%;
  width: 14.96%;
  z-index: 10;
}

.dialogK.show {
  display: block;
}

.dialogK-text,
.dialogK-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.dialogK-text {
  z-index: 3;
  display: none;
}

.dialogK-text.show {
  display: block;
}

.dialogK-background {
  z-index: 2;
}

.dialogK-background.isShowing {
  animation-name: dialogK-background-show;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes dialogK-background-show {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.dialogK-background.isHiding {
  animation-name: dialogK-background-hide;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes dialogK-background-hide {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(0);
  }
}

.buttonE {
  display: none;
  position: absolute;
  bottom: 7.7%;
  right: 3.04%;
  width: 12.77%;
}

.buttonE.show {
  display: block;
  animation-name: buttonE-shake;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: center center;
}

.buttonE.show:hover {
  animation-play-state: paused;
}

@keyframes buttonE-shake {
  20% {
    transform: rotate3d(0, 0, 1, 10deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.buttonE-text,
.buttonE-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.buttonE-text {
  z-index: 3;
  display: none;
}

.buttonE-text.show {
  display: block;
}

.buttonE-background.isShowing {
  animation-name: buttonE-background-show;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes buttonE-background-show {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
