.ending {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #f0c7a7;
  background-size: cover;
  overflow: hidden;
  min-width: 1440px;
  min-height: 688px;
}

.ending-background {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 2;
}

.ending-content {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 3;
}

.ending-text {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 4;
}

.ending .sound {
  position: absolute;
  top: 6.74%;
  right: 10.55%;
}

.buttonJ,
.buttonK {
  position: absolute;
  width: 11%;
  z-index: 10;
  visibility: hidden;
}

.buttonJ {
  bottom: 18.7%;
  right: 5.41%;
}

.buttonK {
  bottom: 8.5%;
  right: 3.98%;
}

.buttonJ.show,
.buttonK.show {
  visibility: visible;
}

.buttonJ:hover,
.buttonK:hover {
  opacity: 0.7;
}

.buttonJ-text,
.buttonK-text {
  width: 100%;
  visibility: hidden;
  position: relative;
  z-index: 3;
}

.buttonJ-text.show-enter,
.buttonK-text.show-enter {
  animation-name: buttonJK-text-show;
  animation-delay: 500ms;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
}

@keyframes buttonJK-text-show {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

.buttonJ-text.show-enter-done,
.buttonK-text.show-enter-done {
  visibility: visible;
}

.buttonJ-background,
.buttonK-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.buttonJ-background.zoom-enter,
.buttonK-background.zoom-enter {
  animation-name: buttonJK-background-show-opacity,
    buttonJK-background-show-scale;
  animation-duration: 1000ms, 1000ms;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-fill-mode: forwards, forwards;
}

@keyframes buttonJK-background-show-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes buttonJK-background-show-scale {
  0% {
    transform: scale(0.5);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
