.dialogH-text .st0 {
    fill: #F0C7A7;
}

.dialogH-text .st1 {
    fill: #FCF8ED;
}

.dialogH-text .st2 {
    fill: #84725E;
}

.dialogH-text .st3 {
    fill: none;
    stroke: #84725E;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.dialogH-text .st4 {
    fill: #A5C654;
}

.dialogH-text .st5 {
    fill: #F9CD93;
    stroke: #7A6A56;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.dialogH-text .st6 {
    fill: #F9CD93;
}

.dialogH-text .st7 {
    fill: #5D87C0;
}

.dialogH-text .st8 {
    fill: #EEB290;
}

.dialogH-text .st9 {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 1.0652;
    stroke-miterlimit: 10;
}

.dialogH-text .st10 {
    fill: #DA663B;
}

.dialogH-text .st11 {
    fill: none;
    stroke: #6D4137;
    stroke-width: 0.4438;
    stroke-miterlimit: 10;
}

.dialogH-text .st12 {
    fill: #7A6A56;
}

.dialogH-text .st13 {
    fill: none;
    stroke: #231815;
    stroke-miterlimit: 10;
}

.dialogH-text .st14 {
    fill: none;
    stroke: #231815;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.dialogH-text .st15 {
    fill: #615243;
}

.dialogH-text .st16 {
    fill: url(#SVGID_1_);
}

.dialogH-text .st17 {
    fill: #B9D8C8;
}

.dialogH-text .st18 {
    fill: #FCFAEE;
}

.dialogH-text .st19 {
    fill: none;
    stroke: #7A6A56;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.dialogH-text .st20 {
    fill: #8A8077;
}

.dialogH-text .st21 {
    fill: #C8C4C5;
}

.dialogH-text .st22 {
    fill: #E7E3E3;
}

.dialogH-text .st23 {
    fill: #FDFAF8;
}

.dialogH-text .st24 {
    fill: #FFFFFF;
}

.dialogH-text .st25 {
    fill: #3F98CC;
}

.dialogH-text .st26 {
    fill: #E98C6F;
}

.dialogH-text .st27 {
    fill: none;
    stroke: #9B9075;
    stroke-width: 0.6346;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.dialogH-text .st28 {
    fill: #FCD11C;
}

.dialogH-text .st29 {
    fill: none;
    stroke: #FCF8ED;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.dialogH-text .st30 {
    opacity: 0.8;
    fill: url(#SVGID_2_);
}

.dialogH-text .st31 {
    fill: #FCF8ED;
    stroke: #6D4137;
    stroke-width: 0.4831;
    stroke-miterlimit: 10;
}

.dialogH-text .st32 {
    fill: #FCF8ED;
    stroke: #6D4137;
    stroke-width: 0.4999;
    stroke-miterlimit: 10;
}

.dialogH-text .st33 {
    fill: #F17752;
}

.dialogH-text .st34 {
    fill: none;
    stroke: #84725E;
    stroke-width: 2.6134;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.dialogH-text .st35 {
    fill: #84725E;
    stroke: #84725E;
    stroke-width: 2.6134;
    stroke-miterlimit: 10;
}

.dialogH-text .st36 {
    opacity: 0.44;
    fill: #FFFFFF;
}

.dialogH-text .st37 {
    fill: url(#SVGID_3_);
}

.dialogH-text .st38 {
    opacity: 0.8;
    fill: url(#SVGID_4_);
}

.dialogH-text .st39 {
    fill: #75BD80;
}

.dialogH-text .st40 {
    fill: url(#SVGID_5_);
}

.dialogH-text .st41 {
    fill: url(#SVGID_6_);
}

.dialogH-text .st42 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.dialogH-text .st43 {
    fill: none;
    stroke: #FF0000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.dialogH-text .st44 {
    fill: #FF0000;
}