.storyA {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("./storyA_background.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
  min-width: 1440px;
  min-height: 688px;
}

.storyA-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.storyA .sound {
  position: absolute;
  bottom: 15%;
  right: 16.86%;
}

.reply-rabbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  display: none;
}

.reply-rabbit.show {
  display: block;
  animation-name: reply-rabbit-button-show;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.reply-rabbit-button {
  cursor: pointer;
}

@keyframes reply-rabbit-button-show {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.dot {
  animation: dot-wave 2s linear infinite;
}

.dot:nth-child(2) {
  animation-delay: 0.4s;
}

.dot:nth-child(3) {
  animation-delay: 0.8s;
}

.dot:nth-child(4) {
  animation-delay: 1.2s;
}

.dot:nth-child(5) {
  animation-delay: 1.6s;
}

@keyframes dot-wave {
  0%,
  60%,
  100% {
    transform: initial;
  }
  30% {
    transform: translateY(-5px);
  }
}

.dialogGHI {
  z-index: 7;
  visibility: hidden;
  position: absolute;
}

.dialogG {
  width: 17.97%;
  top: 9.5%;
  right: 31.71%;
}

.dialogH {
  width: 16.95%;
  top: 29%;
  right: 13.05%;
}

.dialogI {
  width: 17.97%;
  top: 43.5%;
  right: 31.71%;
}

.dialogGHI.show-enter,
.dialogGHI.show-enter-active,
.dialogGHI.show-enter-done,
.dialogGHI.show-exit,
.dialogGHI.show-exit-active {
  visibility: visible;
}

.dialogGHI.show-exit-done {
  visibility: hidden;
}

.dialogGHI-text {
  width: 100%;
  visibility: hidden;
  position: relative;
  z-index: 3;
}

.dialogGHI-text.show-enter {
  visibility: hidden;
  animation-name: dialogGHI-text-show;
  animation-delay: 700ms;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
}

@keyframes dialogGHI-text-show {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

.dialogGHI-text.show-enter-done {
  visibility: visible;
}

.dialogGHI-text.show-exit {
  visibility: visible;
  animation-name: dialogGHI-text-hide;
  animation-delay: 500ms;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
}

@keyframes dialogGHI-text-hide {
  from {
    visibility: visible;
  }

  to {
    visibility: hidden;
  }
}

.dialogGHI-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.dialogGHI-background.zoom-enter {
  animation-name: dialogGHI-background-show;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes dialogGHI-background-show {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.dialogGHI-background.zoom-exit {
  animation-name: dialogGHI-background-hide-scale,
    dialogGHI-background-hide-opacity;
  animation-duration: 0.8s, 0.3s;
  animation-delay: 0s, 0.5s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-fill-mode: forwards, forwards;
}

@keyframes dialogGHI-background-hide-scale {
  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(0.95);
  }
}

@keyframes dialogGHI-background-hide-opacity {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
  }
}

.buttonBC {
  z-index: 7;
  position: absolute;
  width: 22.55%;
  right: 21%;
  visibility: hidden;
}

.buttonB {
  top: 27.32%;
}

.buttonC {
  top: 49%;
}

.buttonBC.show-enter,
.buttonBC.show-enter-active,
.buttonBC.show-enter-done,
.buttonBC.show-exit,
.buttonBC.show-exit-active {
  visibility: visible;
}

.buttonBC.show-exit-done {
  visibility: hidden;
}

.buttonBC-text {
  width: 100%;
  visibility: hidden;
  position: relative;
  z-index: 3;
}

.buttonBC-text.show-enter {
  animation-name: buttonBC-text-show;
  animation-delay: 500ms;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
}

@keyframes buttonBC-text-show {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

.buttonBC-text.show-enter-done {
  visibility: visible;
}

.buttonBC-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.buttonBC-background.zoom-enter {
  animation-name: buttonBC-background-show;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes buttonBC-background-show {
  0% {
    transform: scale(0.5);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
