.storys {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.t1 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("./t1.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
  min-width: 1440px;
  min-height: 688px;
}

.t1-json {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.storyA,
.storyB,
.t1 {
  position: absolute;
  transition: left 8s linear;
}

.storys.A .storyA {
  left: 0%;
}

.storys.A .t1 {
  left: 100%;
}

.storys.A .storyB {
  left: 200%;
}

.storys.B .storyA {
  left: -200%;
}

.storys.B .t1 {
  left: -100%;
}

.storys.B .storyB {
  left: 0%;
}
