.submit-fear {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("./submit_fear_background.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
  /* min-width: 1440px; */
  /* min-height: 688px; */
}

.submit-fear .sound {
  position: absolute;
  top: 69.38%;
  right: 75.43%;
}

.answer-label {
  color: #83725f;
  position: absolute;
  /* 不要用 top */
  bottom: 18.5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: bold;
}

.answer-input-wrapper {
  position: absolute;
  bottom: 11.8%;
  left: 50%;
  transform: translateX(-50%);
  /* width: 27.49%; */
  width: 26rem;
}

.answer-input {
  background-color: #fcf8ed;
  color: #da663b;
  width: 100%;
  padding: 0.6rem 3rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  line-height: 1.5;
}

::placeholder {
  color: #83725f;
  opacity: 0.39;
}

.answer-count {
  position: absolute;
  bottom: 4px;
  right: 6px;
  color: #84725e;
  font-size: 0.75rem;
}

.reset-button,
.submit-button {
  position: absolute;
  bottom: 5.29%;
  width: 4.07%;
}

.reset-button {
  right: 30.2%;
}

.submit-button {
  right: 25.25%;
}

.answer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.answer {
  position: absolute;
  display: inline-block;
  animation: answer-move 2s linear infinite;
}

.answer:hover {
  animation-play-state: paused;
}

@keyframes answer-move {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}

.answer.active {
  animation: answer-active 2s ease-in-out;
}

@keyframes answer-active {
  0% {
    transform: scale3d(0.5, 0.5, 0.5) rotate(0deg) translateX(10px) rotate(0deg);
  }

  80% {
    transform: scale3d(1.05, 1.05, 1.05) rotate(288deg) translateX(10px)
      rotate(-288deg);
  }

  100% {
    transform: scale3d(1, 1, 1) rotate(360deg) translateX(10px) rotate(-360deg);
  }
}

.small-answer {
  width: 10.7%;
  top: 14.58%;
  right: 60.27%;
}

.medium-answer {
  width: 23.62%;
  top: 27.21%;
  right: 71.68%;
}

.large-answer {
  width: 28.99%;
  top: 18.53%;
  right: 6.37%;
}

.answer-background {
  width: 100%;
}

.answer-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
