.submit-fear {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("./submit_fear_background.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
  min-width: 1440px;
  min-height: 688px;
}

.submit-fear-background {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

.submit-animation {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: 3;
  pointer-events: none;
}

.submit-fear .sound {
  position: absolute;
  top: 69.38%;
  right: 75.43%;
}

.answer-label {
  color: #83725f;
  position: absolute;
  bottom: 18.5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 4;
}

.answer-input-wrapper {
  position: absolute;
  bottom: 11.8%;
  left: 50%;
  transform: translateX(-50%);
  width: 26rem;
  z-index: 5;
}

.answer-input {
  background-color: #fcf8ed;
  color: #da663b;
  width: 100%;
  padding: 0.6rem 3rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  line-height: 1.5;
}

::placeholder {
  color: #83725f;
  opacity: 0.39;
}

.answer-count {
  position: absolute;
  bottom: 4px;
  right: 6px;
  color: #84725e;
  font-size: 0.75rem;
}

.reset-button,
.submit-button {
  position: absolute;
  bottom: 5.29%;
  width: 4.07%;
  z-index: 6;
}

.reset-button {
  right: 30.2%;
}

.submit-button {
  right: 25.25%;
}

.answer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.answer {
  position: absolute;
  display: inline-block;
}

.answer:hover {
  animation-play-state: paused;
}

.answer.active path {
  animation: answer-active 1s ease-in;
  fill: #f0bc29;
}

@keyframes answer-active {
  0% {
    fill: #e57452;
  }

  100% {
    fill: #f0bc29;
  }
}

.small-answer {
  width: 10.7%;
  top: 14.58%;
  right: 60.27%;
  animation: small-answer-move 4s ease infinite;
}

@keyframes small-answer-move {
  32% {
    transform: rotate(-2deg);
  }

  67.7% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.medium-answer {
  width: 23.62%;
  top: 27.21%;
  right: 71.68%;
  animation: medium-answer-move 4s ease infinite;
}

@keyframes medium-answer-move {
  20% {
    transform: rotate(2deg);
  }

  48% {
    transform: rotate(0deg);
  }

  71.8% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.large-answer {
  width: 28.99%;
  top: 18.53%;
  right: 6.37%;
  animation: large-answer-move 4s ease infinite;
}

@keyframes large-answer-move {
  26% {
    transform: rotate(1.5deg);
  }

  50% {
    transform: rotate(-2deg);
  }

  70.8% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.answer-background {
  width: 100%;
}

.answer-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.small-answer .answer-content {
  width: 70%;
  height: 70%;
}

.medium-answer .answer-content {
  width: 65%;
  height: 50%;
}

.large-answer .answer-content {
  width: 50%;
  height: 50%;
}

.char {
  flex: 0 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.answer-mask {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonL {
  visibility: hidden;
  position: absolute;
  bottom: 5%;
  left: 42%;
  width: 12.74%;
  z-index: 11;
}

.buttonL.show-enter,
.buttonL.show-enter-active,
.buttonL.show-enter-done,
.buttonL.show-exit,
.buttonL.show-exit-active {
  visibility: visible;
  animation-name: buttonL-shake;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: center center;
}

@keyframes buttonL-shake {
  20% {
    transform: rotate3d(0, 0, 1, 10deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.buttonL:hover {
  animation-play-state: paused;
}

.buttonL.show-exit-done {
  visibility: hidden;
}

.buttonL-text {
  width: 100%;
  visibility: hidden;
  position: relative;
  z-index: 3;
}

.buttonL-text.show-enter {
  animation-name: buttonL-text-show;
  animation-delay: 500ms;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
}

@keyframes buttonL-text-show {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

.buttonL-text.show-enter-done {
  visibility: visible;
}

.buttonL-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.buttonL-background.fade-enter {
  animation-name: buttonL-background-show;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes buttonL-background-show {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
