.boyE .st0 {
  fill: #dbeffa;
}
.boyE .st1 {
  fill: url(#SVGID_1_BOYE);
}
.boyE .st2 {
  fill: #94c465;
}
.boyE .st3 {
  fill: #7da745;
}
.boyE .st4 {
  fill: #698c3b;
}
.boyE .st5 {
  fill: #da663b;
}
.boyE .st6 {
  fill: #f9fafa;
}
.boyE .st7 {
  fill: #f1c1a6;
}
.boyE .st8 {
  fill: #a9b7c4;
}
.boyE .st9 {
  fill: #e2aa8b;
}
.boyE .st10 {
  fill: none;
  stroke: #e8e5da;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.boyE .st11 {
  fill: #f17752;
}
.boyE .st12 {
  fill: #a5c654;
}
.boyE .st13 {
  fill: #e8e5da;
}
.boyE .st14 {
  opacity: 0.9;
  fill: url(#SVGID_2_BOYE);
}
.boyE .st15 {
  fill: none;
  stroke: #dbeffa;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.boyE .st16 {
  fill: url(#SVGID_3_BOYE);
}
.boyE .st17 {
  fill: none;
  stroke: #63815c;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.boyE .st18 {
  fill: #84725e;
}
.boyE .st19 {
  fill: url(#SVGID_4_BOYE);
}
.boyE .st20 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.boyE .st21 {
  fill: #c8c4c5;
}
.boyE .st22 {
  fill: #7da6b4;
}
.boyE .st23 {
  fill: #9eca74;
}
.boyE .st24 {
  fill: none;
  stroke: #fcf8ed;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.boyE .st25 {
  fill: none;
  stroke: #e2aa8b;
  stroke-miterlimit: 10;
}
.boyE .st26 {
  fill: #e7e3e3;
}
.boyE .st27 {
  fill: none;
  stroke: #b9dbc1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.boyE .st28 {
  fill: #fcf8ed;
}
.boyE .st29 {
  fill: #e98c6f;
}
.boyE .st30 {
  fill: #7a6a56;
}
.boyE .st31 {
  fill: #8a8077;
}
.boyE .st32 {
  fill: none;
  stroke: #6d4137;
  stroke-width: 0.4438;
  stroke-miterlimit: 10;
}
.boyE .st33 {
  fill: #ffffff;
}
.boyE .st34 {
  fill: #3f98cc;
}
.boyE .st35 {
  fill: #eeb290;
}
.boyE .st36 {
  fill: none;
  stroke: #7a6a56;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.boyE .st37 {
  fill: #fcd11c;
}
.boyE .st38 {
  fill: #f9cd93;
}
.boyE .st39 {
  clip-path: url(#SVGID_6_BOYE);
}
.boyE .st40 {
  fill: #5d87c0;
}
.boyE .st41 {
  fill: url(#SVGID_7_BOYE);
}
.boyE .st42 {
  fill: #fce6c9;
}
.boyE .st43 {
  fill: url(#SVGID_8_BOYE);
}
.boyE .st44 {
  fill: #eec31b;
}
.boyE .st45 {
  fill: #615243;
}
.boyE .st46 {
  fill: #fcfaee;
}
.boyE .st47 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.0652;
  stroke-miterlimit: 10;
}
.boyE .st48 {
  fill: #b9d8c8;
}
.boyE .st49 {
  fill: #587c99;
}
.boyE .st50 {
  fill: none;
  stroke: #84725e;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.boyE .st51 {
  fill: none;
  stroke: #84725e;
  stroke-width: 2.0654;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.boyE .st52 {
  fill: #84725e;
  stroke: #84725e;
  stroke-width: 2.0654;
  stroke-miterlimit: 10;
}
.boyE .st53 {
  clip-path: url(#SVGID_10BOYE_);
}
.boyE .st54 {
  fill: url(#SVGID_11BOYE_);
}
.boyE .st55 {
  fill: url(#SVGID_12BOYE_);
}
.boyE .st56 {
  opacity: 0.63;
  fill: #ffffff;
}
.boyE .st57 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10;
}
.boyE .st58 {
  fill: #606060;
}
