.rabbitA .st0 {
  fill: #dbeffa;
}
.rabbitA .st1 {
  fill: url(#SVGID_1_RabbitA);
}
.rabbitA .st2 {
  fill: #94c465;
}
.rabbitA .st3 {
  fill: #7da745;
}
.rabbitA .st4 {
  fill: #698c3b;
}
.rabbitA .st5 {
  fill: #da663b;
}
.rabbitA .st6 {
  fill: #f9fafa;
}
.rabbitA .st7 {
  fill: #f1c1a6;
}
.rabbitA .st8 {
  fill: #a9b7c4;
}
.rabbitA .st9 {
  fill: #e2aa8b;
}
.rabbitA .st10 {
  fill: none;
  stroke: #e8e5da;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.rabbitA .st11 {
  fill: #f17752;
}
.rabbitA .st12 {
  fill: #a5c654;
}
.rabbitA .st13 {
  fill: #e8e5da;
}
.rabbitA .st14 {
  opacity: 0.9;
  fill: url(#SVGID_2_RabbitA);
}
.rabbitA .st15 {
  fill: none;
  stroke: #dbeffa;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.rabbitA .st16 {
  fill: url(#SVGID_3_RabbitA);
}
.rabbitA .st17 {
  fill: none;
  stroke: #63815c;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.rabbitA .st18 {
  fill: #84725e;
}
.rabbitA .st19 {
  fill: url(#SVGID_4_RabbitA);
}
.rabbitA .st20 {
  fill: none;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.rabbitA .st21 {
  fill: #c8c4c5;
}
.rabbitA .st22 {
  fill: #7da6b4;
}
.rabbitA .st23 {
  fill: #9eca74;
}
.rabbitA .st24 {
  fill: none;
  stroke: #fcf8ed;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.rabbitA .st25 {
  fill: none;
  stroke: #e2aa8b;
  stroke-miterlimit: 10;
}
.rabbitA .st26 {
  fill: #e7e3e3;
}
.rabbitA .st27 {
  fill: none;
  stroke: #b9dbc1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.rabbitA .st28 {
  fill: #fcf8ed;
}
.rabbitA .st29 {
  fill: #e98c6f;
}
.rabbitA .st30 {
  fill: #7a6a56;
}
.rabbitA .st31 {
  fill: #8a8077;
}
.rabbitA .st32 {
  fill: none;
  stroke: #6d4137;
  stroke-width: 0.4438;
  stroke-miterlimit: 10;
}
.rabbitA .st33 {
  fill: #ffffff;
}
.rabbitA .st34 {
  fill: #3f98cc;
}
.rabbitA .st35 {
  fill: #eeb290;
}
.rabbitA .st36 {
  fill: none;
  stroke: #7a6a56;
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.rabbitA .st37 {
  fill: #fcd11c;
}
.rabbitA .st38 {
  fill: #f9cd93;
}
.rabbitA .st39 {
  clip-path: url(#SVGID_6_RabbitA);
}
.rabbitA .st40 {
  fill: #5d87c0;
}
.rabbitA .st41 {
  fill: url(#SVGID_7_RabbitA);
}
.rabbitA .st42 {
  fill: #fce6c9;
}
.rabbitA .st43 {
  fill: url(#SVGID_8_RabbitA);
}
.rabbitA .st44 {
  fill: #eec31b;
}
.rabbitA .st45 {
  fill: #615243;
}
.rabbitA .st46 {
  fill: #fcfaee;
}
.rabbitA .st47 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 1.0652;
  stroke-miterlimit: 10;
}
.rabbitA .st48 {
  fill: #b9d8c8;
}
.rabbitA .st49 {
  fill: #587c99;
}
.rabbitA .st50 {
  fill: none;
  stroke: #84725e;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.rabbitA .st51 {
  fill: none;
  stroke: #84725e;
  stroke-width: 2.0654;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.rabbitA .st52 {
  fill: #84725e;
  stroke: #84725e;
  stroke-width: 2.0654;
  stroke-miterlimit: 10;
}
.rabbitA .st53 {
  clip-path: url(#SVGID_10RabbitA_);
}
.rabbitA .st54 {
  fill: url(#SVGID_11RabbitA_);
}
.rabbitA .st55 {
  fill: url(#SVGID_12RabbitA_);
}
.rabbitA .st56 {
  fill: #606060;
}
