.storyB {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("./storyB_background.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
  min-width: 1440px;
  min-height: 688px;
}

.storyB-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.grass {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.storyB .sound {
  position: absolute;
  top: 43.8%;
  right: 5.06%;
}

.patternE {
  position: absolute;
  top: 44.49%;
  right: 81.29%;
  width: 2.38%;
  animation-name: patternE-move;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.patternE:hover {
  animation-play-state: paused;
}

@keyframes patternE-move {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}

.boyE {
  position: absolute;
  top: 43.08%;
  right: 24.14%;
  width: 26.96%;
}

.patternF {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 43.08%;
  right: 30.38%;
  width: 1.8%;
}

.patternF.show {
  visibility: visible;
  animation-name: patternF-show-opacity, patternF-show-scale;
  animation-duration: 1s, 1s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-fill-mode: forwards, forwards;
}

@keyframes patternF-show-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes patternF-show-scale {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.rabbitA {
  position: absolute;
  bottom: 28%;
  right: 55.2%;
  width: 16.83%;
  transform-origin: 65% bottom;
  animation-name: rabbitA-shake;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.rabbitA:hover {
  animation-play-state: paused;
}

@keyframes rabbitA-shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-6deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(6deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.cushion {
  position: absolute;
  bottom: 26.7%;
  right: 57%;
  width: 9.5%;
}

.hairBallA {
  position: absolute;
  /* top: 55.14%; */
  /* right: 52%; */
  /* width: 3.1%; */
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.dialogJ {
  display: none;
  position: absolute;
  top: 22.42%;
  right: 66.39%;
  width: 14.97%;
}

.dialogJ.show {
  display: block;
}

.dialogJ-text,
.dialogJ-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.dialogJ-text {
  z-index: 3;
  display: none;
}

.dialogJ-text.show {
  display: block;
}

.dialogJ-background {
  z-index: 2;
}

.dialogJ-background.isShowing {
  animation-name: dialogJ-background-show;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes dialogJ-background-show {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.dialogJ-background.isHiding {
  animation-name: dialogJ-background-hide;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes dialogJ-background-hide {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(0);
  }
}

.buttonD {
  display: none;
  position: absolute;
  bottom: 20%;
  right: 5.41%;
  width: 12.74%;
}

.buttonD.show {
  display: block;
  animation-name: buttonD-shake;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: center center;
}

.buttonD.show:hover {
  animation-play-state: paused;
}

@keyframes buttonD-shake {
  20% {
    transform: rotate3d(0, 0, 1, 10deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.buttonD-text,
.buttonD-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.buttonD-text {
  z-index: 3;
  display: none;
}

.buttonD-text.show {
  display: block;
}

.buttonD-background.isShowing {
  animation-name: buttonD-background-show;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes buttonD-background-show {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
