.storyB {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url("./storyB_background.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
  min-width: 1440px;
  min-height: 688px;
}

.storyB-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.grass {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.storyB .sound {
  position: absolute;
  top: 43.8%;
  right: 5.06%;
}

.patternE {
  position: absolute;
  top: 44.49%;
  left: 19%;
  width: 3%;
  animation-name: patternE-move;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.patternE:hover {
  animation-play-state: paused;
}

@keyframes patternE-move {
  from {
    transform: rotate(0deg) translateX(10px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(10px) rotate(-360deg);
  }
}

.boyE {
  position: absolute;
  top: 43.08%;
  right: 24.14%;
  width: 26.96%;
}

.patternF {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 43.08%;
  right: 29%;
  width: 2.8%;
}

.patternF.show {
  visibility: visible;
  animation-name: patternF-show-opacity, patternF-show-scale;
  animation-duration: 1s, 1s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-fill-mode: forwards, forwards;
}

@keyframes patternF-show-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes patternF-show-scale {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.rabbitA {
  position: absolute;
  bottom: 28%;
  right: 55.2%;
  width: 16.83%;
  transform-origin: 65% bottom;
  animation-name: rabbitA-shake;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.48, 0.04, 0.52, 0.96);
}

.rabbitA:hover {
  animation-play-state: paused;
}

@keyframes rabbitA-shake {
  0% {
    transform: rotate(-2deg);
  }

  25% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-4deg);
  }

  75.5% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-2deg);
  }
}

.cushion {
  position: absolute;
  bottom: 26.7%;
  right: 57%;
  width: 9.5%;
}

.hairBallA {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.dialogJ {
  position: absolute;
  top: 22.42%;
  right: 66.39%;
  width: 14.97%;
  z-index: 7;
  visibility: hidden;
}

.dialogJ.show-enter,
.dialogJ.show-enter-active,
.dialogJ.show-enter-done,
.dialogJ.show-exit,
.dialogJ.show-exit-active {
  visibility: visible;
}

.dialogJ.show-exit-done {
  visibility: hidden;
}

.dialogJ-text {
  width: 100%;
  visibility: hidden;
  position: relative;
  z-index: 3;
}

.dialogJ-text.show-enter {
  visibility: hidden;
  animation-name: dialogJ-text-show;
  animation-delay: 500ms;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
}

@keyframes dialogJ-text-show {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

.dialogJ-text.show-enter-done {
  visibility: visible;
}

.dialogJ-text.show-exit {
  visibility: visible;
  animation-name: dialogJ-text-hide;
  animation-delay: 400ms;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
}

@keyframes dialogJ-text-hide {
  from {
    visibility: visible;
  }

  to {
    visibility: hidden;
  }
}

.dialogJ-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.dialogJ-background.zoom-enter {
  animation-name: dialogJ-background-show;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes dialogJ-background-show {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.dialogJ-background.zoom-exit {
  animation-name: dialogJ-background-hide;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes dialogJ-background-hide {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(0);
  }
}

.buttonD {
  visibility: hidden;
  position: absolute;
  bottom: 12%;
  right: 5.41%;
  width: 12.74%;
}

.buttonD.show-enter,
.buttonD.show-enter-active,
.buttonD.show-enter-done,
.buttonD.show-exit,
.buttonD.show-exit-active {
  visibility: visible;
  animation-name: buttonD-shake;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: center center;
}

@keyframes buttonD-shake {
  20% {
    transform: rotate3d(0, 0, 1, 10deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.buttonD:hover {
  animation-play-state: paused;
}

.buttonD.show-exit-done {
  visibility: hidden;
}

.buttonD-text {
  width: 100%;
  visibility: hidden;
  position: relative;
  z-index: 3;
}

.buttonD-text.show-enter {
  animation-name: buttonD-text-show;
  animation-delay: 500ms;
  animation-duration: 1ms;
  animation-fill-mode: forwards;
}

@keyframes buttonD-text-show {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

.buttonD-text.show-enter-done {
  visibility: visible;
}

.buttonD-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.buttonD-background.fade-enter {
  animation-name: buttonD-background-show;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes buttonD-background-show {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}
