.info-dialog-wrapper {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  min-width: 1440px;
  min-height: 688px;
}

.info-dialog-wrapper.isShow {
  display: block;
}

.info-dialog-mask {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3c3732;
  opacity: 0.7;
}

.close-info-dialog-button {
  z-index: 102;
  position: absolute;
  top: 8.67%;
  right: 7.1%;
  width: 3.43%;
}

.close-info-dialog-button:hover {
  animation-name: close-info-dialog-button-hover;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes close-info-dialog-button-hover {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.close-info-dialog-button.isHiding {
  animation-name: close-info-dialog-button-isHiding-scale;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes close-info-dialog-button-isHiding-scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.info-dialog {
  z-index: 101;
  position: absolute;
  bottom: -625px;
  left: 50%;
  transform: translateX(-50%);
  width: 700px;
  height: 625px;
  padding: 48px;
  background-color: #fcf8ed;
}

.info-dialog.isShowing {
  animation-name: info-dialog-wrapper-isShowing;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes info-dialog-wrapper-isShowing {
  0% {
    bottom: -625px;
  }

  100% {
    bottom: 0;
  }
}

.info-dialog.isHiding {
  animation-name: info-dialog-wrapper-isHiding;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes info-dialog-wrapper-isHiding {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -625px;
  }
}

.info-dialog-text {
  display: none;
}

.info-dialog-text.isShow {
  display: block;
  animation-name: info-dialog-text-isShow;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes info-dialog-text-isShow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.info-dialog-title {
  font-weight: 600;
  font-size: 38px;
  color: #5d87c0;
  text-align: center;
  margin-top: 36px;
  margin-bottom: 48px;
}

.info-dialog-content {
  display: flex;
}

.info-dialog-content-item {
  flex: 1;
}

.info-dialog-content-item:first-child {
  margin-right: 30px;
}

.info-dialog-picture {
  width: 100%;
}

.info-dialog-text {
  font-weight: 300;
  color: #5d87c0;
  max-height: 310px;
  overflow: auto;
  padding-right: 8px;
}

.info-dialog-text::-webkit-scrollbar {
  width: 8px;
}

/* bar 的樣式 */
.info-dialog-text::-webkit-scrollbar-thumb {
  background-color: #e77452;
  border-radius: 5px;
}
