.fear-city-dialog .st0 {
    fill: #F0C7A7;
}

.fear-city-dialog .st1 {
    fill: url(#SVGID_1_);
}

.fear-city-dialog .st2 {
    fill: #9ECA74;
}

.fear-city-dialog .st3 {
    fill: none;
    stroke: #78974E;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st4 {
    fill: none;
    stroke: #9ECA74;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st5 {
    fill: none;
    stroke: #B9DBC1;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st6 {
    fill: url(#SVGID_2_);
}

.fear-city-dialog .st7 {
    fill: #EB977D;
}

.fear-city-dialog .st8 {
    fill: #728D6E;
}

.fear-city-dialog .st9 {
    fill: url(#SVGID_3_);
}

.fear-city-dialog .st10 {
    fill: #84725E;
}

.fear-city-dialog .st11 {
    fill: #DBEFFA;
}

.fear-city-dialog .st12 {
    fill: #E8E5DA;
}

.fear-city-dialog .st13 {
    fill: url(#SVGID_4_);
}

.fear-city-dialog .st14 {
    fill: url(#SVGID_5_);
}

.fear-city-dialog .st15 {
    fill: #B9C8D7;
}

.fear-city-dialog .st16 {
    fill: #9FCDA0;
}

.fear-city-dialog .st17 {
    fill: #FFFFFF;
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st18 {
    fill: #EBAD97;
}

.fear-city-dialog .st19 {
    fill: #A1B5C9;
}

.fear-city-dialog .st20 {
    fill: none;
    stroke: #B9C8D7;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st21 {
    fill: #CCE2D9;
}

.fear-city-dialog .st22 {
    fill: none;
    stroke: #E2AA8B;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st23 {
    fill: url(#SVGID_6_);
}

.fear-city-dialog .st24 {
    fill: none;
    stroke: #B9C8D7;
    stroke-width: 0.8762;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st25 {
    fill: #C8C4C5;
}

.fear-city-dialog .st26 {
    fill: none;
    stroke: #E8E5DA;
    stroke-width: 0.8762;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st27 {
    fill: #F7CB2F;
}

.fear-city-dialog .st28 {
    fill: #E9E6E6;
}

.fear-city-dialog .st29 {
    fill: #958C84;
}

.fear-city-dialog .st30 {
    fill: #CDCACB;
}

.fear-city-dialog .st31 {
    fill: #E7E3E3;
}

.fear-city-dialog .st32 {
    fill: #5D87C0;
}

.fear-city-dialog .st33 {
    fill: #A2A2A3;
}

.fear-city-dialog .st34 {
    fill: #A3B0BD;
}

.fear-city-dialog .st35 {
    fill: #2E4874;
}

.fear-city-dialog .st36 {
    fill: #D3D0D0;
}

.fear-city-dialog .st37 {
    fill: #A4B7C0;
}

.fear-city-dialog .st38 {
    fill: #94A5AE;
}

.fear-city-dialog .st39 {
    fill: #7A6A56;
}

.fear-city-dialog .st40 {
    fill: #2E4874;
    stroke: #E7E3E3;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st41 {
    fill: none;
    stroke: #E7E3E3;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st42 {
    fill: url(#SVGID_7_);
}

.fear-city-dialog .st43 {
    fill: #B9DBC1;
}

.fear-city-dialog .st44 {
    fill: #63815C;
}

.fear-city-dialog .st45 {
    fill: #ECCCBA;
}

.fear-city-dialog .st46 {
    fill: url(#SVGID_8_);
}

.fear-city-dialog .st47 {
    fill: none;
    stroke: #E8E5DA;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st48 {
    fill: url(#SVGID_9_);
}

.fear-city-dialog .st49 {
    fill: #7DA078;
}

.fear-city-dialog .st50 {
    fill: none;
    stroke: #CCE2D9;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st51 {
    fill: url(#SVGID_10_);
}

.fear-city-dialog .st52 {
    fill: none;
    stroke: #6C9785;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st53 {
    fill: #E2AA8B;
}

.fear-city-dialog .st54 {
    fill: #6C9785;
}

.fear-city-dialog .st55 {
    fill: none;
    stroke: #7A534A;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st56 {
    fill: url(#SVGID_11_);
}

.fear-city-dialog .st57 {
    fill: none;
    stroke: #63815C;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st58 {
    fill: #7DA745;
}

.fear-city-dialog .st59 {
    fill: #F1C1A6;
}

.fear-city-dialog .st60 {
    fill: #A5C654;
}

.fear-city-dialog .st61 {
    fill: #FCF8ED;
}

.fear-city-dialog .st62 {
    fill: #A9B7C4;
}

.fear-city-dialog .st63 {
    fill: #DA663B;
}

.fear-city-dialog .st64 {
    fill: #94C465;
}

.fear-city-dialog .st65 {
    fill: #FFFFFF;
    stroke: #231815;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st66 {
    fill: #F17752;
}

.fear-city-dialog .st67 {
    fill: #E98C6F;
}

.fear-city-dialog .st68 {
    fill: #EEB290;
}

.fear-city-dialog .st69 {
    fill: #9BA7B3;
}

.fear-city-dialog .st70 {
    fill: #6B4036;
}

.fear-city-dialog .st71 {
    fill: none;
    stroke: #6B4036;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st72 {
    fill: #507346;
}

.fear-city-dialog .st73 {
    fill: none;
    stroke: #698C3B;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st74 {
    fill: none;
    stroke: #E2AA8B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st75 {
    fill: #8A8077;
}

.fear-city-dialog .st76 {
    fill: url(#SVGID_12_);
}

.fear-city-dialog .st77 {
    fill: none;
    stroke: #E8E5DA;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st78 {
    fill: #74966F;
}

.fear-city-dialog .st79 {
    fill: url(#SVGID_13_);
}

.fear-city-dialog .st80 {
    fill: url(#SVGID_14_);
}

.fear-city-dialog .st81 {
    fill: url(#SVGID_15_);
}

.fear-city-dialog .st82 {
    fill: url(#SVGID_16_);
}

.fear-city-dialog .st83 {
    fill: url(#SVGID_17_);
}

.fear-city-dialog .st84 {
    fill: url(#SVGID_18_);
}

.fear-city-dialog .st85 {
    fill: none;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st86 {
    fill: none;
    stroke: #84725E;
    stroke-width: 4.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st87 {
    fill: #FCF8ED;
    stroke: #FCF8ED;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st88 {
    fill: none;
    stroke: #EBAD97;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st89 {
    fill: none;
    stroke: #FCF8ED;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st90 {
    display: none;
}

.fear-city-dialog .st91 {
    display: inline;
    opacity: 0.5;
    fill: #FFFFFF;
}

.fear-city-dialog .st92 {
    display: inline;
    fill: none;
    stroke: #231815;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st93 {
    display: inline;
    fill: none;
    stroke: #E7E3E3;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st94 {
    display: inline;
    fill: none;
    stroke: #9ECA74;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st95 {
    display: inline;
    fill: none;
    stroke: #E8E5DA;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st96 {
    display: inline;
    fill: none;
    stroke: #000000;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st97 {
    display: inline;
    fill: none;
    stroke: #6B4036;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st98 {
    display: inline;
    fill: none;
    stroke: #E2AA8B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st99 {
    display: inline;
    fill: none;
    stroke: #231815;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st100 {
    display: inline;
    fill: none;
    stroke: #E8E5DA;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st101 {
    display: inline;
}

.fear-city-dialog .st102 {
    fill: none;
    stroke: #E60012;
    stroke-miterlimit: 10;
}

.fear-city-dialog .st103 {
    fill: #E60012;
}

.fear-city-dialog .st104 {
    display: inline;
    fill: #E60012;
}

.fear-city-dialog .st105 {
    fill: #606060;
}