.mountains .st0 {
    display: none;
}

.mountains .st1 {
    display: inline;
}

.mountains .st2 {
    fill: #F0C7A7;
}

.mountains .st3 {
    fill: url(#後草叢_1_);
}

.mountains .st4 {
    fill: #9ECA74;
}

.mountains .st5 {
    fill: url(#中草叢_1_);
}

.mountains .st6 {
    fill: #728D6E;
}

.mountains .st7 {
    display: inline;
    fill: #DBEFFA;
}

.mountains .st8 {
    fill: #A1B5C9;
}

.mountains .st9 {
    fill: #C8C4C5;
}

.mountains .st10 {
    fill: #EB977D;
}

.mountains .st11 {
    fill: url(#前草_1_);
}

.mountains .st12 {
    fill: #84725E;
}

.mountains .st13 {
    fill: #E9E6E6;
}

.mountains .st14 {
    fill: #958C84;
}

.mountains .st15 {
    fill: #CDCACB;
}

.mountains .st16 {
    fill: url(#藍到黃_1_);
}

.mountains .st17 {
    fill: #B9C8D7;
}

.mountains .st18 {
    fill: url(#前山_2_);
}

.mountains .st19 {
    fill: url(#前石_2_);
}

.mountains .st20 {
    display: inline;
    fill: #EBAD97;
}

.mountains .st21 {
    display: inline;
    fill: #5D87C0;
}

.mountains .st22 {
    fill: #94A5AE;
}

.mountains .st23 {
    fill: #A2A2A3;
}

.mountains .st24 {
    fill: #D3D0D0;
}

.mountains .st25 {
    fill: #A4B7C0;
}

.mountains .st26 {
    fill: #E7E3E3;
}

.mountains .st27 {
    fill: #A3B0BD;
}

.mountains .st28 {
    fill: #2E4874;
}

.mountains .st29 {
    fill: #F7CB2F;
}

.mountains .st30 {
    fill: #E8E5DA;
}

.mountains .st31 {
    fill: url(#SVGID_1_);
}

.mountains .st32 {
    display: inline;
    fill: #F7CB2F;
}

.mountains .st33 {
    fill: #F1C1A6;
}

.mountains .st34 {
    fill: #7DA745;
}

.mountains .st35 {
    fill: #A5C654;
}

.mountains .st36 {
    display: inline;
    fill: #FCF8ED;
}

.mountains .st37 {
    fill: #FCF8ED;
}

.mountains .st38 {
    fill: #DA663B;
}

.mountains .st39 {
    fill: #E2AA8B;
}

.mountains .st40 {
    fill: #8A8077;
}

.mountains .st41 {
    fill: #F17752;
}

.mountains .st42 {
    fill: #A9B7C4;
}

.mountains .st43 {
    fill: #E98C6F;
}

.mountains .st44 {
    fill: #EEB290;
}

.mountains .st45 {
    fill: #9BA7B3;
}

.mountains .st46 {
    fill: #94C465;
}

.mountains .st47 {
    fill: #507346;
}

.mountains .st48 {
    fill: url(#SVGID_2_);
}

.mountains .st49 {
    fill: #9FCDA0;
}

.mountains .st50 {
    fill: #CCE2D9;
}

.mountains .st51 {
    fill: #ECCCBA;
}

.mountains .st52 {
    fill: #63815C;
}

.mountains .st53 {
    fill: url(#SVGID_3_);
}

.mountains .st54 {
    fill: url(#SVGID_4_);
}

.mountains .st55 {
    fill: #6C9785;
}

.mountains .st56 {
    display: inline;
    fill: none;
    stroke: #B9C8D7;
    stroke-miterlimit: 10;
}

.mountains .st57 {
    display: inline;
    fill: none;
    stroke: #B9C8D7;
    stroke-width: 0.8762;
    stroke-miterlimit: 10;
}

.mountains .st58 {
    display: inline;
    fill: none;
    stroke: #E8E5DA;
    stroke-width: 0.8762;
    stroke-miterlimit: 10;
}

.mountains .st59 {
    display: inline;
    fill: none;
    stroke: #78974E;
    stroke-miterlimit: 10;
}

.mountains .st60 {
    display: inline;
    fill: none;
    stroke: #9ECA74;
    stroke-miterlimit: 10;
}

.mountains .st61 {
    display: inline;
    fill: none;
    stroke: #B9DBC1;
    stroke-miterlimit: 10;
}

.mountains .st62 {
    display: inline;
    fill: none;
    stroke: #E2AA8B;
    stroke-miterlimit: 10;
}

.mountains .st63 {
    display: inline;
    fill: none;
    stroke: #E7E3E3;
    stroke-width: 0.5;
    stroke-miterlimit: 10;
}

.mountains .st64 {
    display: inline;
    fill: none;
    stroke: #E7E3E3;
    stroke-miterlimit: 10;
}

.mountains .st65 {
    display: inline;
    fill: #E7E3E3;
}

.mountains .st66 {
    display: inline;
    fill: #6B4036;
}

.mountains .st67 {
    display: inline;
    fill: none;
    stroke: #6B4036;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.mountains .st68 {
    display: inline;
    fill: none;
    stroke: #698C3B;
    stroke-miterlimit: 10;
}

.mountains .st69 {
    display: inline;
    fill: none;
    stroke: #E2AA8B;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.mountains .st70 {
    display: inline;
    fill: none;
    stroke: #E8E5DA;
    stroke-miterlimit: 10;
}

.mountains .st71 {
    display: inline;
    fill: none;
    stroke: #7A534A;
    stroke-miterlimit: 10;
}

.mountains .st72 {
    display: inline;
    fill: none;
    stroke: #CCE2D9;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.mountains .st73 {
    display: inline;
    fill: none;
    stroke: #63815C;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.mountains .st74 {
    display: inline;
    fill: none;
    stroke: #E8E5DA;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
}

.mountains .st75 {
    fill: #7DA078;
}

.mountains .st76 {
    fill: url(#SVGID_5_);
}

.mountains .st77 {
    fill: url(#SVGID_6_);
}

.mountains .st78 {
    fill: #74966F;
}

.mountains .st79 {
    fill: #B9DBC1;
}