body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    text-decoration: none;
}

svg {
    display: block;
}